h1{
    color: #9bce42;
    font-family: 'acme', sans-serif;
    font-size: 60px;
    text-align: center;
}

.content{
    width: fit-content;
    margin: 0 auto;
    text-align: center;
    font-family: 'Maven Pro', sans-serif;
}
.but{
    margin: 0 auto;
    text-align: center
}